<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated marketplace -->
      <package
            uri="http://www.example.org/marketplace"
            class="com.a3.marketplace.model.marketplace.MarketplacePackage"
            genModel="model/marketplace.genmodel"/>
   </extension>

</plugin>
